
@font-face{
    font-family: 'Inter', sans-serif;
    src: url("fonts/Inter-Regular.ttf");

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
font-family: 'Inter', sans-serif;
}

/*Fonts
-------*/

/*wrapper
---------*/

.active{
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: #000;
opacity: 0.4;
z-index: 2000;
}

.back_black{
display: flex;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: black;
opacity: 50%;
z-index: 2000;
}



h1,h2,h3,h4,h5,h6{
font-weight: 400;
}

.wrapper1{
display: block;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
border: 1px solid black;
}

.wrapper2{
display: flex;
flex-direction: column;
width: 70%;
margin: 0 auto;
/*
border: 1px solid violet;
*/
}

.head {
  display: flex;
  flex-direction: column;
  width: 100%;
	height: 100%;
  background-color: #000;
  align-items: center;
  justify-content: center;
}

.head_image{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/main.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.head_inner{
display: flex;
flex-direction: column;
width: 300px;
height: 201px;
align-items: center;
justify-content: center;
z-index: 1000;
}

h1{
font-size: 4rem;
}

.head_inner h1{
height: 20px;
color: #fff;
}

.head_inner p{
font-size: 2rem;
color: #fff;
text-align: center;
}

.head_inner a{
padding: 5px 30px;
font-size: 2rem;
color: #fff;
background-color: #00B4D8;
text-decoration: none;
border-radius: 15px;
border: none;
-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
}

.desc{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
/**/

.img_container{
  position: relative;
  /*
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  */
}

.img_container img{
  position:absolute;
  left:0;
  width: 100%;
  height: 100%;
  /*
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  */
-moz-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}

@keyframes myImgAnimation {

  0% { opacity: 0;
       margin-top: -40px; }

  12.12% { opacity: 1;
   margin-top: 0px;}

  35.35% { opacity: 1;
  margin-top: 0px; }

  45.45% { opacity: 0;
  margin-top: 40px; }

  100% { opacity: 0;
  margin-top: 40px; }

}

.img_container { position:relative; width:70%;}

.img_container img { position:absolute; width:100%; left:0; right:0; opacity:0; animation-name: myImgAnimation; animation-duration: 10s; animation-iteration-count: infinite; }

.img_container img:nth-child(1) { animation-delay: 0s; }

.img_container img:nth-child(2) { animation-delay: 4s; }

.img_container img:nth-child(3) { animation-delay: 7s; }
/**/
.FAQ{
display: flex;
flex-direction: column;
width: 100%;
text-align: left;
}

.FAQ h1{
text-align: center;
}

.FAQ h2{
display: block;
font-size: 2.5rem;
width: calc(100% - 24px);
margin: 0 0;
color: red;
}

.FAQ .row{
align-items: center;
}

.plus{
display: block;
height: 16px;
width: 16px;
background-image: url("../images/ic0.png");
opacity: 0.8;
background-repeat: no-repeat;
background-size: contain;
}

.plus:hover{

}

#pl1,
#pl2,
#pl3,
#pl4,
#pl5,
#pl6{

}

.cross{
background-image: url("../images/ic0_2.png");
}

.FAQ p{
margin: 0;
padding: 20px 0 0 20px;
font-size: 1.5rem;
}

.FAQ_block{
display: block;
position: relative;
padding: 42px 0 12px;
border-bottom: 1px solid #090909;
}

.download{
position: relative;
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
text-align: center;
}

.row{
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: space-between;
}

.block_load{
position: relative;
display: flex;
flex-direction: column;
width: 285px;
height: 380px;
padding: 6px;
border: 1px solid #bababa;
border-radius: 20px;
text-align: center;
-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
}

.block_load:hover{
border: 1px solid #e6da86;
}

.block_load h2{
font-size: 2.4rem;
}

.rec{
position: absolute;
left: 0;
top: 50px;
width: 100%;
color: #107869;
font-size: 1.5rem;
}

.load_text{
display: block;
height: 100px;
padding: 0 2%;
text-align: justify;
opacity: 80%;
font-size: 1.5rem;
}

.line {
display: inline-block;
margin: 8px auto 0;
width: 96%;
border-bottom: 1px solid #e6e6e6;
font-size: 1.5rem;
}

.left{
float: left;
}

.right{
float: right;
}

.block_load h4{
font-size: 1.7rem;
height: 0px;
}

.btn_download{
width: 50%;
margin: 25px auto 0;
padding: 5px;
background-color: #00b6d5;
color: #fff;
border: none;
border-radius: 15px;
font-size: 2rem;
text-decoration: none;
-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
}

.contact{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact .row{
width: 100%;
}

.block_contact{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 285px;
  height: 420px;
  padding: 6px;
  border: 1px solid #bababa;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
}

.block_contact img{
margin: 5px auto;
}

.name{
display: inline-block;
margin: 8px auto 0;
width: 96%;
border-bottom: 1px solid #e6e6e6;
font-size: 2rem;
}

.cont_text{
display: block;
height: 112px;
padding: 0 2%;
text-align: justify;
font-size: 1.5rem;
}

/**/

.cline{
position: relative;
display: flex;
align-items: center;
margin-top: 15px;
height: 24px;
text-align: right;
float: right;
margin-right: auto;
}

.cline img{
width: 24px;
height: 24px;
}

.cline p{
padding-left: 5px;
font-size: 15px;
}

@media screen and (max-width: 400px){

html{
font-size: 8px;
}

.head_inner{
width: 220px;
height: 201px;
}

.block_load{
height: 320px;
}

.block_contact{
height: 420px;
}

.img_container{
width: 280px;
height: 200px;
}

}

@media screen and (min-width: 400px) and (max-width: 700px){

  .img_container{
  width: 400px;
  height: 300px;
  }

}

@media screen and (min-width: 700px) and (max-width: 1000px){

  .img_container{
  width: 580px;
  height: 400px;
  }

}

@media screen and (min-width: 400px) and (max-width: 1000px){

html{
font-size: 12px;
}

.block_load{
height: 420px;
}

.rec{
top: 60px;
}

#lic_inner{
width: 325px;
height: 450px;
margin: auto;
}

}

@media screen and (min-width: 1000px) and (max-width: 1600px){

  html{
  font-size: 10px;
  }

}

@media screen and (min-width: 1600px){

  html{
  font-size: 15px;
  }

  .block_load{
  width: 365px;
  height: 540px;
  }

  .head_inner{
  width: 400px;
  height: 301px;
  }

  .rec{
  top: 80px;
  }

  .load_text{
  height: 120px;
  }

  .block_contact{
    width: 365px;
    height: 540px;
  }

  .cline{
  margin-top: 50px;
  }

  .cline p {
  font-size: 1.6rem;
  }

  #lic_inner{
  width: 395px;
  height: 500px;
  margin: auto;
  }

  #btn4,
  #btn4_2,
  #btn4_3,
  #btn5{
  width: 136px;
  }

  .plus{
  width: 24px;
  height: 24px;
  }

}

@media screen and (max-width: 1000px){

  .head_image{
    background-position: center;
  }

}

@media screen and (max-width: 1224px){

  .row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  }

  .block_load{
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  }

  .block_contact{
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  }

}

@media screen and (min-width: 1000px) and (max-width: 1400px){

  .img_container{
  width: 700px;
  height: 520px;
  }

}

@media screen and (min-width: 1400px){

  .img_container{
  width: 900px;
  height: 630px;
  }

}

#btn{

}

#dark{

}

#lic{

}

#lic_inner{

}

#lic_inner .line{
text-align: center;
font-size: 2rem;
}

#lic_inner p{
width: 96%;
font-size: 1.6rem;
text-align: justify;
}

#btn4,
#btn4_2,
#btn4_3{

}

.del{
display: none;
}

.dark2{
display: block;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: #000;
opacity: 0.75;
z-index: 2000;
}

.lic2{
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2001;
}

.lic_inner2{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 285px;
  height: 350px;
  align-items: center;
  background-color: #fff;
  padding: 6px;
  border: 1px solid #bababa;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
}

.line_btn{
position: absolute;
display: block;
left: 0;
bottom: 25px;
margin-left: 2%;
padding: 0 5%;
width: 96%;
}

.btn1{
  position: relative;
  float: left;
  width: 96px;
  padding: 5px;
  background-color: #90BE6D;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 2rem;
  text-decoration: none;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.btn2{
  position: relative;
  float: right;
  width: 96px;
  padding: 5px;
  background-color: #277DA1;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 2rem;
  text-decoration: none;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.btn2:hover{

}
